

    <div class="row">
    <div class="col-3" *ngFor="let i of listemp">
        <div class="card border-primary" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{i.name}}</h5>
              <hr>
              <p class="card-text">Salary: {{i.salary}}
                  <br/>Department: {{i.department.name}}
              </p>
              <a [routerLink]="['../employee',i.id]" class="btn btn-primary">More Details</a>
            </div>
          </div>
        </div>
      </div>


