<div class="container">
<div class="row">
    <div class="card border-primary" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">First Hands-On</h5>
          <p class="card-text">Click here to view list of employees.</p>
          <a routerLink="../first" class="btn btn-primary">View</a>
        </div>
      </div>
      <div class="card border-primary" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Second Hands-On</h5>
          <p class="card-text">Click here to view Event binding.</p>
          <a routerLink="../second" class="btn btn-primary">View</a>
        </div>
      </div>
      <div class="card border-primary" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Third Hands-On</h5>
          <p class="card-text">Click here to edit employees.</p>
          <a routerLink="../third" class="btn btn-primary">View</a>
        </div>
      </div>
      <div class="card border-primary" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Fourth Hands-On</h5>
          <p class="card-text">Click here to test the API.</p>
          <a routerLink="../api" class="btn btn-primary">View</a>
        </div>
      </div>
</div>
</div>
<router-outlet></router-outlet>
